{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block body %}
    <div class="homeHero"></div>
    <div class="homeHeadingContainer">
        <h1 class="blackTitle">Join TrainMe - start training now!</h1>
    </div>

    <main class="homeContainer">
        <article class="article">
            <div class="article__image article__image--1"></div>
            <div class="article__textContainer">
                <p class="article__text">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nulla in odio a massa
                    dictum tincidunt vel quis erat. Etiam eu elit pretium, accumsan dolor in, luctus ipsum. Vivamus
                    mattis
                    nisi sapien, et aliquet arcu pulvinar sit amet. Curabitur a justo ut nisl laoreet auctor et placerat
                    mi.
                    Etiam ut felis.
                </p>
            </div>
        </article>

        <article class="article">
            <div class="article__textContainer">
                <p class="article__text">
                    Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nulla in odio a massa
                    dictum tincidunt vel quis erat. Etiam eu elit pretium, accumsan dolor in, luctus ipsum. Vivamus
                    mattis
                    nisi sapien, et aliquet arcu pulvinar sit amet. Curabitur a justo ut nisl laoreet auctor et placerat
                    mi.
                    Etiam ut felis.
                </p>
            </div>
            <div class="article__image article__image--2"></div>
        </article>
    </main>
{% endblock %}