{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="homeHero"></div>
    <div class="homeHeadingContainer">
        <h1 class="blackTitle">Join TrainMe - start training now!</h1>
    </div>

    <main class="homeContainer">
        <article class="article">
            <img class="article__image" alt="#"
                 src="https://images.unsplash.com/photo-1536922246289-88c42f957773?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=adeeb765919718fb24f8ebf90e789df2&auto=format&fit=crop&w=780&q=80"/>
            <div class="article__textContainer"><p class="article__text">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nulla in odio a massa
                    dictum tincidunt vel quis erat. Etiam eu elit pretium, accumsan dolor in, luctus ipsum. Vivamus
                    mattis
                    nisi sapien, et aliquet arcu pulvinar sit amet. Curabitur a justo ut nisl laoreet auctor et placerat
                    mi.
                    Etiam ut felis.</p>
            </div>
        </article>

        <article class="article">
            <div class="article__textContainer"><p class="article__text">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nulla in odio a massa
                    dictum tincidunt vel quis erat. Etiam eu elit pretium, accumsan dolor in, luctus ipsum. Vivamus
                    mattis
                    nisi sapien, et aliquet arcu pulvinar sit amet. Curabitur a justo ut nisl laoreet auctor et placerat
                    mi.
                    Etiam ut felis.</p>
            </div>
            <img class="article__image" alt="#"
                 src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf23e88edf0700891eeac2e0cb3664b8&auto=format&fit=crop&w=750&q=80"/>
        </article>
    </main>
{% endblock %}