{% extends 'base.html.twig' %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .title {
            margin: 20px auto;
            text-align: center;
            font-size: 96px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="title">NFQ Akademija</div>
{% endblock %}
