{% extends 'base.html.twig' %}

{% block title %}Trainer's Page - {{ parent() }}{% endblock %}
{% block body %}
    <div class="heroTrainer"></div>

    <h1 class="blackTitle">John Davis</h1>
{% endblock %}