{% extends 'base.html.twig' %}

{% block body %}
    <div class="heroWorkouts"></div>

    <div class="workoutsContainer">
        <h1 class="blackTitle u-mgBtm">Scheduled workouts</h1>
        <div class="customerCal u-mgTop" data-id="{{ app.user.id }}" id="trainerWorkouts"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/trainerWorkoutsCal.js') }}"></script>
{% endblock %}