.next,
.prev {
  border: none !important;

  &:hover {
    background-color: rgba(0, 0, 0, .78) !important;
    color: white !important;
  }
}

.timepicker_wrap {
  border-radius: 0 !important;
  background: white !important;
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, .20) !important;
}