.rbc-day-slot .rbc-events-container {
  margin-right: 0;
}

.rbc-event.rbc-selected {
  background: black;
}

.rbc-day-slot .rbc-event {
  border: 1px solid black;
}

.rbc-event {
  background: rgba(0, 0, 0, .78);
}