.homeHero {
  height: 350px;
  background: url(https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=de05b46a8ac91fcff2b134811e62d79f&auto=format&fit=crop&w=889&q=80);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.homeHeadingContainer {
  display: flex;
  justify-content: center;
  padding: 40px 0 20px 0;
}

.homeContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  max-width: 900px;
  height: 300px;
  margin: 30px 0;
}

.article__image {
  height: 100%;
  max-height: 300px;
  width: 50%;
}

.article__image--2 {
  background: url(https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf23e88edf0700891eeac2e0cb3664b8&auto=format&fit=crop&w=750&q=80);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.article__image--1 {
  background: url(https://images.unsplash.com/photo-1536922246289-88c42f957773?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=adeeb765919718fb24f8ebf90e789df2&auto=format&fit=crop&w=780&q=80);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.article__textContainer {
  flex: 3;
  padding: 0 25px;
}

.article__text {
  font-size: 1.1em;
  text-align: justify;
}

.rating {
  padding: 20px 0;
}

.rating__text {
  margin-bottom: 15px;
}

.ratingModal {
  opacity: 0;
  display: none;
}

@media only screen and (max-width: 768px) {
  .article {
    flex-direction: column;
    height: 420px;

    &:nth-of-type(2) {
      flex-direction: column-reverse;
    }
  }

  .article__image {
    width: 100%;
  }

  .article__textContainer {
    padding: 0 0 10px 0;
  }
}

@media only screen and (max-width: 480px) {
  .article {
    width: 100%;
  }

  .article__textContainer {
    padding: 10px;
  }
}