input,
textarea {
  border-radius: 0;
  border: 1px solid silver;
}

.regSecLabel {
  font-size: 1.3em;
  margin-bottom: 10px;
  display: block;
}

.regInput,
.regTextArea {
  width: 100%;
  padding: 0 10px;
  display: block;
  margin: 2px 0 5px 0;
}

.regInput {
  height: 30px;
}

.choiceInput {
  display: block;
  opacity: 0;
  width: 60%;
}

.regTextArea {
  height: 80px;
  resize: none;
}

.select2-container {
  margin-right: 10%;
  margin-bottom: 15px;
  width: 100% !important;
}

.formWrapper {
  width: 40%;
  min-width: 180px;
  max-width: 300px;
}

@media only screen and (max-width: 600px) {
  .formWrapper {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .regTextArea {
    margin: 0;
  }

  .regTextArea {
    margin-top: 5px;
  }

  .choiceInput {
    width: 100%;
  }
}