.pagination {
  display: flex;
  justify-content: center;
}

.pagination__box {
  background: rgba(0, 0, 0, 0.78);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  margin: 0 10px;
  cursor: pointer;

  &:hover {
    background: black;
  }
}

.pagination__box--active {
  background: black;
}

.pagination__number {
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
}