.trainersBlock {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.trainerBox {
  position: relative;
  height: 250px;
  width: 40%;
  overflow: hidden;
  margin: 30px 60px 20px 0;

  &:hover {
    .trainerBox__overlay {
      background: rgba(0, 0, 0, .7);
    }

    .trainerBox__details {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.trainerBox__overlay {
  background: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.trainerBox__image {
  width: 100%;
}

.trainerBox__imageContainer {
  height: 100%;
  width: 100%;
}

.trainerBox__details {
  position: absolute;
  background: rgba(0, 0, 0, .7);
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  transform: translateY(200px);
  color: white;
  padding: 15px 10px;
  box-sizing: border-box;
}

.trainerBox__name {
  margin: 0;
  font-size: 1.1em;
}

.fa-star--yellow {
  color: yellow;
  font-size: 1.1em;
}

.trainerBox__head {
  display: flex;
  justify-content: space-between;
}

.trainerBox__description {
  margin-top: 15px;
}

.trainerBox__rating {
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .trainerBox {
    width: 45%;
    margin: 30px 15px 20px 0;
  }

  .listContainer {
    width: 100vw;
  }
}

@media only screen and (max-width: 600px) {
  .trainerBox__details {
    transform: translateY(190px);
  }

  .trainerBox__description {
    margin-top: 25px;
  }

  .trainerBox__name {
    max-width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .trainersBlock {
    flex-direction: column;
    align-items: center;
  }

  .trainerBox {
    margin: 30px 0;
    width: 80%;
  }

  .listContainer {
    padding: 0 0 40px 0;
  }
}