{% extends 'base.html.twig' %}

{% block title %}Trainer register{% endblock %}

{% block body %}
    <div style="padding-top: 50px">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
