* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

body,
html {
  height: 100%;
  overflow-y: auto;
}

//Libs
@import "~normalize.css";
@import "~react-big-calendar/lib/css/react-big-calendar.css";
@import "~pikaday/css/pikaday.css";
//Base
@import "footer";
@import "navbar";
//Home page
@import 'home/home';
//Trainers list page
@import "trainerList/hero";
@import "trainerList/filter";
@import "trainerList/trainers";
@import "trainerList/pagination";
@import "themes/timepickiTheme";
@import "themes/pikadayTheme";
//Personal trainer's page
@import "trainerPage/trainerPage";
@import "trainerPage/trainerCal";
//Trainer work schedule management
@import "management/management";
@import "management/spinner";
//Login page
@import "login/login";
//Client's workouts page
@import "customer/workouts";