@import url(~normalize.css);
@import url(lib/fullcalendar.min.css);
@import url(../../node_modules/pikaday/css/pikaday.css);
@import url(datePicker/theme.css);
.footerContainer {
  height: 300px;
  background: url(https://images.unsplash.com/photo-1517963628607-235ccdd5476c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c688dfbe53dcd3cbf32c3b171adff920&auto=format&fit=crop&w=751&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.footer {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  align-items: center;
  box-sizing: border-box; }

.copyright {
  color: white;
  text-align: center;
  background: black;
  padding: 10px 0;
  font-weight: bold; }

.mediaList {
  display: flex;
  flex-direction: row; }

.media {
  display: flex;
  flex-direction: column; }

.media__text {
  color: white;
  font-weight: bold;
  margin: 0 0 10px 0; }

.linkList,
.mediaList {
  margin: 0;
  padding: 0; }

.footer__link {
  color: white;
  text-decoration: none;
  line-height: 1.5em; }

.footer__link--media {
  font-size: 2em;
  margin-right: 20px; }

.linkList,
.media {
  margin: 0 20px; }

.navbar {
  height: 60px;
  background: rgba(0, 0, 0, 0.78);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.2em; }

.u-listNone {
  list-style-type: none; }

.navbar__brand {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 25px; }
  .navbar__brand:hover {
    color: white;
    text-decoration: none; }

.navbar__menu {
  display: flex;
  margin: 0 20px 0 0;
  padding: 0;
  height: 100%; }

.navbar__item__link {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white;
  color: white;
  text-decoration: none;
  padding: 0 15px; }
  .navbar__item__link:hover {
    background: rgba(0, 0, 0, 0.9); }

.homeHero {
  height: 350px;
  background: url(https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=de05b46a8ac91fcff2b134811e62d79f&auto=format&fit=crop&w=889&q=80);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.homeHeadingContainer {
  display: flex;
  justify-content: center;
  padding: 20px; }

.homeContainer {
  display: flex;
  align-items: center;
  flex-direction: column; }

.article {
  display: flex;
  justify-content: space-evenly;
  width: 900px;
  height: 300px;
  margin: 30px 0; }

.article__image {
  height: 90%;
  flex: 3; }

.article__textContainer {
  flex: 3;
  padding: 20px 25px; }

.article__text {
  font-weight: bold;
  font-size: 1.1em;
  text-align: justify; }

.hero {
  background: url(https://images.unsplash.com/photo-1522350260280-7d8f965f5d0f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d0d0f17bdf444a81e5ca5704635082ce&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px; }

.listContainer {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 40px 20px; }

.filterContainer {
  margin-bottom: 40px; }

.filters__container {
  display: flex;
  justify-content: space-between; }

.blackTitle {
  color: white;
  background: black;
  margin: 0;
  padding: 5px 50px 5px 10px;
  font-size: 2em;
  font-weight: bold;
  display: inline-block; }

.filters__name {
  height: 30px;
  width: 250px;
  padding: 2px 5px;
  margin-right: 30px;
  font-weight: bold; }

.filters__inputs {
  margin: 20px 0;
  display: flex; }

.filters__submit {
  background: rgba(0, 0, 0, 0.78);
  color: white;
  border: none;
  height: 50px;
  width: 60px;
  cursor: pointer; }
  .filters__submit:hover {
    background: black; }

.filters__date,
.filters__from,
.filters__to {
  margin: 0 20px;
  height: 20px; }

.filters__tags {
  display: flex;
  margin: 0;
  padding: 0 15px 0 0;
  width: 300px;
  flex-wrap: wrap; }

.filters__tag {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 5px;
  margin: 0 5px 5px 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
  font-weight: bold;
  color: black; }
  .filters__tag:hover {
    color: white;
    background: rgba(0, 0, 0, 0.78); }

.trainersBlock {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.trainerBox {
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  margin: 30px 60px; }
  .trainerBox:hover .trainerBox__overlay {
    background: rgba(0, 0, 0, 0.7); }
  .trainerBox:hover .trainerBox__details {
    opacity: 1;
    transform: translateY(0); }

.trainerBox__overlay {
  background: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s ease-in-out; }

.trainerBox__image {
  object-fit: cover;
  width: 350px;
  height: 250px; }

.trainerBox__details {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  transform: translateY(200px);
  color: white;
  padding: 15px 10px;
  box-sizing: border-box; }

.trainerBox__name {
  font-weight: bold;
  margin: 0;
  font-size: 1.1em; }

.fa-star--yellow {
  color: yellow;
  font-size: 1.1em; }

.trainerBox__head {
  display: flex;
  justify-content: space-between; }

.trainerBox__rating {
  margin: 0;
  font-weight: bold; }

.pagination {
  display: flex;
  justify-content: center; }

.pagination__box {
  background: rgba(0, 0, 0, 0.78);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  margin: 0 10px;
  cursor: pointer; }
  .pagination__box:hover {
    background: black; }

.pagination__box--active {
  background: black; }

.pagination__number {
  color: white;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0; }

.next,
.prev {
  border: none !important; }
  .next:hover,
  .prev:hover {
    background-color: rgba(0, 0, 0, 0.78) !important;
    color: white !important; }

.timepicker_wrap {
  border-radius: 0 !important;
  background: white !important;
  box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.2) !important; }

.heroTrainer {
  background: url(https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf23e88edf0700891eeac2e0cb3664b8&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px; }

.trainerContainer {
  width: 60%;
  margin: auto;
  padding: 40px 20px;
  justify-content: center; }

.trainerInfo {
  display: flex;
  color: black;
  font-weight: bold;
  margin-top: 35px; }

.trainerInfo__left,
.trainerInfo__right {
  width: 50%; }

.trainerInfo__left {
  display: flex;
  flex-direction: column; }

.trainerInfo__imageContainer {
  height: 350px;
  width: 350px; }

.trainerInfo__image {
  object-fit: cover;
  width: 350px;
  height: 350px; }

.trainerInfo__rating {
  display: inline;
  font-size: 1.2em; }

.trainerInfo__count {
  font-size: .9em;
  font-style: italic;
  margin-left: 10px; }

.fa-star--big {
  font-size: 2em; }

.trainerInfo__desc {
  max-width: 330px;
  margin: 20px 0;
  text-align: justify;
  font-size: 1.2em; }

.trainerInfo__tags {
  margin: 35px 0; }

.u-marginTop {
  margin-top: 35px; }

.filters__tag--big {
  padding: 10px 15px; }

.filters__tags--big {
  width: 400px; }

.button {
  padding: 0;
  border: none; }

.button__content {
  display: block;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  background: black;
  padding: 15px 20px; }

.calendar {
  margin: 35px 0; }

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
  font-family: 'Lato'; }

/*# sourceMappingURL=app.css.map */
