// the ~ allows you to reference things in node_modules
//Trainers list page
@import "~normalize.css";
@import "navbar";
@import "hero";
@import "filter";
@import "trainers";
@import "pagination";
@import "footer";
//Personal trainer's page
@import "lib/fullcalendar.min.css";
@import "trainerHero";
@import "trainerContainer";
@import "calendar";

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
  font-family: 'Lato';
}