// the ~ allows you to reference things in node_modules
//Libs
@import "~normalize.css";
@import "lib/fullcalendar.min.css";
//Base
@import "footer";
@import "navbar";
//Home page
@import 'home/home';
//Trainers list page
@import "trainerList/hero";
@import "trainerList/filter";
@import "trainerList/trainers";
@import "trainerList/pagination";
@import "../../node_modules/pikaday/css/pikaday.css";
@import "datePicker/theme.css";
@import "timePicker/theme";
//Personal trainer's page
@import "trainerPage/trainerHero";
@import "trainerPage/trainerContainer";
@import "trainerPage/calendar";
@import "~react-big-calendar/lib/css/react-big-calendar.css";

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
  font-family: 'Lato';
}