.heroTrainer {
  background: url(https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bf23e88edf0700891eeac2e0cb3664b8&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
}

.trainerContainer {
  width: 80vw;
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
  justify-content: center;
}

.trainerInfo {
  display: flex;
  color: black;
  margin-top: 35px;
}

.trainerInfo__right {
  width: 50%;
  padding-left: 15px;
}

.trainerInfo__left {
  display: flex;
  flex-direction: column;
}

.trainerInfo__imageContainer {
  height: 350px;
  width: 50%;
}

.justify {
  text-align: justify;
}

.trainerInfo__image {
  max-width: 100%;
  height: 100%;
}

.trainerInfo__rating {
  display: inline;
  font-size: 1.2em;
}

.trainerInfo__count {
  font-size: .9em;
  font-style: italic;
  margin-left: 10px;
}

.fa-star--big {
  font-size: 2em;
}

.trainerInfo__desc {
  max-width: 330px;
  margin: 20px 0 10px 0;
  font-size: 1em;
  overflow-wrap: break-word;
}

.infoText {
  margin-left: 30px;
}

.tagsContainer {
  margin: 35px 0;
  max-width: 400px;
}

.u-marginTop {
  margin-top: 35px;
}

.filters__tag--big {
  padding: 10px 15px;
}

.u-w400 {
  width: 400px;
}

.filters__tag--noInteraction {
  &:hover {
    color: black;
    background: white;
    cursor: default;
  }
}

.button {
  padding: 0;
  border: none;
}

.button__content {
  display: block;
  color: white;
  cursor: pointer;
  text-decoration: none;
  background: black;
  padding: 15px 20px;
  max-height: 55px;
}

.textBox {
  width: 100%;
  padding: 5px;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-sizing: content-box;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.btn {
  color: grey;
  font-size: .85em;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px 5px 5px 0;

  &:hover {
    text-decoration: underline;
  }
}

.btn--cancel {
  color: red;
}

.btnSave,
.btnDiscard {
  opacity: 0;
  transition: opacity .3s;
}

.info {
  background: #eee;
  padding: 15px;

  &:hover {
    .fa-info-circle--custom {
      color: #4481ff;
    }
  }
}

.info--trainer {
  margin-top: 30px;
}

.info--customer {
  margin-bottom: 20px;
}

.u-mgRt {
  margin-right: 15px;
}

.fa-info-circle--custom {
  font-size: 1.4em;
  transition: all .3s ease-in-out;
  color: black;
}

@media only screen and (max-width: 600px) {
  .trainerInfo {
    flex-direction: column;
  }

  .trainerInfo__imageContainer {
    width: 100%;
    height: inherit;
  }

  .trainerInfo__image {
    width: 100%;
  }

  .trainerInfo {
    width: 100%;
  }

  .trainerInfo__right {
    width: 100%;
    padding: 15px 10px 0 10px;
  }

  .tagsContainer {
    margin: 15px 0 30px 0;
    max-width: 100%;
  }

  .trainerContainer {
    width: 100vw;
  }
}